{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <img src="/assets/logo.svg">
      <h2>so <span>completely</span> lost</h2>
    </div>
  </div>
{% endblock %}
